:root {
    --clr-primary-900: hsl(29, 100%, 91%); 
}

:root {
    --clr-primary-700: hsl(33, 46%, 77%); 
}

:root {
    --clr-primary-800: hsl(55, 19%, 78%); 
}

.main-container {
  background: #ffe8d2;
  min-height: 90vh; /* 55% av nettleserens sin høyde*/
  display: flex;
  flex-direction: column; /*kommer underhverandre*/
  align-items: center; /*sentrert teksten*/
  justify-content: center; /*teksten kommer mer ned på siden*/

  padding: 1rem;
}

.grid-container-3columns {
  display: grid;
  grid-template-columns: 4fr 6fr 1fr;
}

.default-container-width {
  max-width: 1000px;
  margin: auto;
}

.beige {
  background-color: #ffe8d2;
}
.sand {
  background-color: #DFC7A9;
}
.grønn {
  background-color: #D1CFBB;
}

/*.peach {
  background-color: #c76e48;
}*/
.white {
  background-color: #ecf0f2;
}
.large-prosentnumber {
  font-size: 80px;
}

.grid-container-2columns-text-second {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.grid-container-2columns-text-first {
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.grid-3rows {
  grid-template-rows: 1fr 1fr 1fr;
}
.grid-3rowslargenumber {
  grid-template-rows: 4fr 3fr 2fr;
}

.large-number {
  font-size: 50px;
}

.bold {
  font-weight: bold;
}

.animation img {
  max-width: 300px;
}

.line-height {
  margin-bottom: 2rem;
}

.byline {
  font-size: 20px;
}

.line-feed {
  display: block;
}

.button {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  left: 90%;
  text-align: center;
  border-radius: 6px;
  min-height: 200px;
  max-width: 50px;
  min-width: 50px;

  font-size: 16px;
  line-height: 1.25em;
  background-color: #ce7006;

  color: white;
}
