:root {
    --clr-primary-900: hsl(29, 100%, 91%); 
}

:root {
    --clr-primary-700: hsl(33, 46%, 77%); 
}

:root{
    --clr-primary-600: hsl(0, 94%, 19%);
}

:root {
    --clr-primary-800: hsl(55, 19%, 78%); 
}

.main-container {
  background: #ffe8d2;
  min-height: 90vh; /* 55% av nettleserens sin høyde*/
  display: flex;
  flex-direction: column; /*kommer underhverandre*/
  align-items: center; /*sentrert teksten*/
  justify-content: center; /*teksten kommer mer ned på siden*/

  padding: 1rem;
}

.grid-container-3columns {
  display: grid;
  grid-template-columns: 4fr 6fr 1fr;
}


.default-container-width {
 max-width: 1200px; 
  margin: auto;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
  font-style: regular; 
  font-size: 70px;
}

.list {
    list-style-type: none;
    line-height: 36px;
    font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700; 
  font-size: 20px;
  cursor: pointer;
  color: #5F0303;


}

li a {
    color: #5F0303;
    
}
li a:link {
    color: #5F0303;
    text-decoration: none;    
}
li a:visited {
    color: #5F0303;
    text-decoration: none;    
}

li a:hover {
    color:hsl(0, 94%, 19%, .6);
}

.color-link  a {
  color: #5F0303;
  
}
.color-link a:link {
  color: #5F0303;
  text-decoration: none;    
}
.color-link a:visited {
  color: #5F0303;
  text-decoration: none;    
}

.color-link a:hover {
  color: hsl(0, 94%, 19%, .6);
}

.color-link-gronn a {
  color: #0C2D15;
  
}
.color-link-gronn a:link {
  color: #0C2D15;
  text-decoration: none;    
}
.color-link-gronn a:visited {
  color: #0C2D15;
  text-decoration: none;    
}

.color-link-gronn a:hover {
  color: hsl(136, 58%, 11%, .6);
}

h2{
    font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400; 
  font-size: 30px;
}

.text-center{
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

.text-left{
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  justify-content: flex-start;
}

.bold{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700; 
  font-size: 20px;
}


p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.beige {
  background-color: #ffe8d2;
}
.sand {
  background-color: #DFC7A9;
}
.grønn {
  background-color: #D1CFBB;
}

.lysrød{
  background-color: #F2D4C7;
} 

.blue{
  background-color: #cccccc;
}

.landscape-sand{
  background-color: #F1E6DA;
}

/*.peach {
  background-color: #c76e48;
}*/
.white {
  background-color: #ecf0f2;
}
.large-prosentnumber {
  font-size: 80px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #4F1800;
}

.color-text{
  color: #4F1800;
}

.grid-container-2columns-text-second {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.grid-container-6-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}

.grid-container-6-columns-2rows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
}

.grid-container-6-columns-3rows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* grid flukt*/

.item1 {
  grid-column: 1 / span 5;
  grid-row: 1;
}
.item2 {
  grid-column: 4 / span 2;
  grid-row: 1;
}
/* grid skadde_døde*/

.item3 {
  grid-column: 2 / span 3;
  grid-row: 1;
}

.item4 {
  grid-column: 2 / span 7;
  grid-row: 1;
}

/*grid humanitærhjelp_animation*/

.item5 {
  grid-column: 2 / span 4;
  grid-row: 1;
}

.item6 {
  grid-column: 4 / span 9;
  grid-row: 1;
}

/*grid humanitærhjelp_image*/

.item7 {
  grid-column: 4 / span 9;
  grid-row: 1;
}

.item8 {
  grid-column: 2 / span 4;
  grid-row: 1;
}

/*grid hunger_landscape*/
.item9 {
  grid-column: 5 / span 6;
  grid-row: 7;
}

.item10 {
  grid-column: 5 / span 6;
  grid-row: 8;
}
/*text-landscape*/
.item11 {
  grid-column: 4 / span 11;
  grid-row: 1;
}

.item12 {
  grid-column: 2 / span 4;
  grid-row: 2;
}

/*18mill-10mill*/

.item13 {
  grid-column: 2 / span 3;
  grid-row: 2;
}
.inherit {
  display: inherit;
}



.grid-container-2columns-text-first {
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.grid-3rows {
  grid-template-rows: 1fr 1fr 1fr;
}
.grid-3rowslargenumber {
  grid-template-rows: 4fr 3fr 2fr;
}

.large-number {
  font-size: 60px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
 
}
.line-heigt {
  margin-bottom: 1rem;
}

.tothetop-button{
    text-align: center;
}

.images-flukt img {
  max-width: 350px;
}

.images-barnesoldat img{
  max-width: 350px;
}

.images-taliban img{
  max-width: 800px;
}

.image-lanscape img{
  max-width: 350px;
}

.animation-fotavtrykk img{
  max-width: 1080px;
}

.images-død img{
  max-width: 700px;
}

.images-humanitærhjelp img{
  max-width: 400px;
}

.animation-humanitærhjelp img{
  max-width: 600px;
  
}

.line-height {
  margin-bottom: 1rem;
}

.byline {
  font-size: 20px;
}

.line-feed {
  display: block;
}

.button {
  
  position: fixed;
  width: 1px;
  top: 3%;
  right: 1%;
  text-align: center;
  border-radius: 6px;
  min-height: 200px;

  min-width: 50px;

  font-size: 16px;
  line-height: 1.25em;
  background-color: #F59A67;

  color: white;
}

#vertical-text{
    
    transform: rotate(-180deg);
       margin: 15px;
        writing-mode: vertical-rl;
        font-size: 20px;
        color: white;
        
    
}

.landscape-hunger-background-image {
  
 height: 800px;
  background-image: url("images/Sult.png");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-container-cookies {
  
  
    min-height: 3vh; 
    max-width: 1200px; 
    display: flex;
  
  }

.main-container-shortsection{
  
  min-height: 30vh; 
 
  /* display: flex;
 flex-direction: column; 
  align-items: flex-start; 
  justify-content: flex-start; */
  padding: 5rem; 
}

.main-container-halfsection{
  
  min-height: 45vh; 
  padding: 5rem; 
}